<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Score Stats
    style.
        body{
            margin:0;
            overflow: hidden;
        }
  body
    iframe(src="https://royalexch999.com/scoreanimation/#{eventId}", width="100%", height="235px", frameborder="0", )
    